/* This is an internal CSS file that is used to define the supported style classes for a extra small application size.
Normally an application developer should not use this file. */
.visible-sm {
    visibility: collapse;
}

.visible-md {
    visibility: collapse;
}

.visible-lg {
    visibility: collapse;
}

.visible-xs {
    visibility: visible;
}

.hidden-sm {
    visibility: visible;
}

.hidden-md {
    visibility: visible;
}

.hidden-lg {
    visibility: visible;
}

.hidden-xs {
    visibility: collapse;
}